<div class="message" [class.mine]="isMine()">
  @if (!isMine()) {
    <div class="avatar">
      <span>{{ message.sender.username.charAt(0)?.toUpperCase() }}</span>
    </div>
  }

  <div class="bubble">
    <div class="meta">
      <span class="sender">{{ message.sender.username }}</span>
      <span class="time">{{ message.timestamp | date: 'shortTime' }}</span>
    </div>
    <div class="content">{{ message.content }}</div>
    <div class="actions">
      <button class="action" type="button" (click)="onReply()">Répondre</button>
      @if (isMine()) {
        <button class="action" type="button" (click)="onRemove()">Supprimer</button>
      }
    </div>
  </div>

  @if(isMine()) {
    <div class="spacer"></div>
  }
</div>
