<div class="friends-container">
  <h2>Amis</h2>
  @if (friendsQuery.loading$ | async) {
    <div class="loading">Chargement...</div>
  }

  <ul class="friends-list">
    @for (friend of friendsQuery.friends$ | async; track friend.friendId) {
      <li class="friend-item">
        <!-- <div class="avatar">{{ friend.friendUsername[0] }}</div> --> <!-- Avatar désactivé pour l'instant -->
        <div class="username">{{ friend.friendUsername }}</div>
        <yap-button label="Message" class="message-btn" (clicked)="goToChat(friend.friendId)" size="sm">
          <mat-icon aria-label="goto-chat-icon" fontIcon="chevron_right"></mat-icon>
        </yap-button>
      </li>
    }
  </ul>

  <h2>Requêtes en attente</h2>
  <ul class="friends-list">
    @for (request of friendsQuery.pendingRequests$ | async; track request.friendId) {
      <li class="friend-item pending">
        <!-- <div class="avatar">{{ request.friendUsername[0] }}</div> --> <!-- Avatar désactivé pour l'instant -->
        <div class="username">{{ request.friendUsername }}</div>
        <yap-button label="Refuser" class="decline-btn" (clicked)="declineRequest(request.friendId)" size="sm">
          <mat-icon aria-label="decline-request-icon" fontIcon="close"></mat-icon>
        </yap-button>
      </li>
    }
  </ul>
</div>
